$z-index-shop-front-overlay-background: 10;
$z-index-shop-front-overlay-text: 11;
$z-index-woocommerce-starter-checkout: 999;
$z-index-mobile-menu: 9500;
$z-index-mobile-hamburger: 9600;
$z-index-woocommerce-lightbox-close: 9999;