.shop-front {
	
	$columnPadding: 40px;
	$mobileColumnPadding: 20px;
	
	@mixin font-style {
		@include Montserrat;
		letter-spacing: 3px;
		text-align: center;
		font-size: 56px;
		text-transform: uppercase;
		color: white;
		line-height: normal;
		
		@include mobile-only {
			font-size: 22px;
		}
	}
	
	a {
		display: block;
		position: relative;
		text-decoration: none;
		overflow: hidden;
		
		&:hover {
			
			.jewelry-page-link {
				color: white;
				
				.overlay, .text {
					opacity: 1;
				}
			}
		}
		
		.overlay {
			content: '';
			opacity: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, .4);
			transition: opacity 350ms ease;
			z-index: $z-index-shop-front-overlay-background;
			
			@include mobile-only {
				opacity: 1;
				background-color: rgba(0,0,0, .25);
			}
		}
		
		.jewelry-page-link {
			height: 100%;
			width: 100%;
			background-size: cover;
			background-position: center center;
			padding-top: 40px;
			
			.text {
				@include font-style;
				position: relative;
				z-index: $z-index-shop-front-overlay-text;
				transition: color 350ms ease;
				width: 100%;
				position: absolute;
				bottom: 20px;
				left: 50%;
				transform: translateX(-50%);
				
				@include tablet {
					opacity: 0;
				}
			}
			
			&.dustin, &.hillary {
				
				.overlay {
					background: linear-gradient(0deg, rgba(0,0,0, .9) 0%, rgba(0,0,0,.5) 60%, rgba(0,0,0,0) 100%);
				}

				.text {
					
					@include mobile-only {
						bottom: 0px;
					}
				}
			}
			
			&.all {
				height: 200px;
				
				.text {
					width: 100%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					
					@include mobile-only {
						display: block;
						line-height: 60px;
					}
				}
			}	
		}
		
		.mobile-title {
			@include font-style;
			color: black;
			margin-top: 10px;
			
			@include tablet {
				display: none;
			}
		}
	}
	
	.profile-pics {
		display: flex;
		margin-top: $columnPadding;
		
		@include mobile-only {
			margin-top: $mobileColumnPadding;
		}
		
		a {
			
			@include mobile-only {
				width: 100%;
				height: 300px;
				$padding: $mobileColumnPadding/2; 
				width: calc(50% - #{$padding});
				
				&:first-child {
					margin-right: $mobileColumnPadding;
				}	
			}
			
			@include tablet {
				height: 600px;
				$padding: $columnPadding/2;
				width: calc(50% - #{$padding});
				
				&:first-child {
					margin-right: $columnPadding;
				}
			}
		}
	}
}